# compiled output
/build
/node_modules

# OS
.next

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# DS
.DS_Store

# Config
/configuration