.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn-nav {
    position: relative;
    width: 20px;
    height: 20px;
    padding-right: 15px;
    cursor: pointer;

    &.active {
      span {
        &:nth-child(1) {
          top: 9px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          top: 9px;
          transform: rotate(-45deg);
        }
      }
    }

    span {
      transition: all 0.3s ease-out;
      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
      }
      &:nth-child(2) {
        position: absolute;
        top: 9px;
        left: 0;
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
      }
      &:nth-child(3) {
        position: absolute;
        top: 18px;
        left: 0;
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
      }
    }
  }

  &__nav {
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: flex-start;
    background: red;
    padding-top: 15px;
    padding-bottom: 15px;

    &.active {
      display: flex;
    }
  }
}
